<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.springboard.mapper.FreeMapper">
    <insert id="post"
            parameterType="BoardDto">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT IFNULL(MAX(ID), 1) FROM FREEBOARD
        </selectKey>
        INSERT INTO FREEBOARD(
            TITLE,
            CONTENT,
            WRITER_ID
        ) VALUES (
            #{title},
            #{content},
            (
                SELECT M.ID
                    FROM MEMBER M
                    WHERE M.NICKNAME = #{nickname}
            )
        )
    </insert>

    <select id="findById"
            parameterType="int"
            resultType="BoardDto">
        SELECT F.ID
             , F.TITLE
             , F.CONTENT
             , F.WRITER_ID
             , M.NICKNAME
             , F.REGDATE
             , F.MODDATE
             , F.CNT
             , 'free' as type
            FROM FREEBOARD F
            JOIN MEMBER M
              ON F.WRITER_ID = M.ID
            WHERE F.ID = #{id}
    </select>

    <insert id="postFiles"
            parameterType="list">
        INSERT INTO FREEBOARD_FILE (
            BOARD_ID,
            FILENAME,
            FILEORIGINNAME,
            FILEPATH,
            FILETYPE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.board_id},
                #{item.filename},
                #{item.fileoriginname},
                #{item.filepath},
                #{item.filetype}
            )
        </foreach>
    </insert>

    <select id="findAll"
            parameterType="map"
            resultType="BoardDto">
        SELECT F.ID
             , F.TITLE
             , F.CONTENT
             , F.WRITER_ID
             , M.NICKNAME
             , F.REGDATE
             , F.MODDATE
             , F.CNT
             , 'free' as type
            FROM FREEBOARD F
            JOIN MEMBER M
            ON F.WRITER_ID = M.ID
            WHERE 1=1
            <if test="search.searchKeyword != null and search.searchKeyword != ''">
                <if test="search.searchCondition == 'all'">
                    AND (
                        F.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
                        OR F.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
                        OR M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%')
                    )
                </if>
                <if test="search.searchCondition == 'title'">
                    AND F.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
                </if>
                <if test="search.searchCondition == 'content'">
                    AND F.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
                </if>
                <if test="search.searchCondition == 'writer'">
                    AND M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%')
                </if>
            </if>
            LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

    <select id="findFilesById"
            parameterType="int"
            resultType="BoardFileDto">
        SELECT ID
             , BOARD_ID
             , FILENAME
             , FIlEORIGINNAME
             , FILEPATH
             , FILETYPE
            FROM FREEBOARD_FILE
            WHERE BOARD_ID = #{id}
    </select>

    <update id="modify"
            parameterType="BoardDto">
        UPDATE FREEBOARD
            SET
                TITLE = #{title},
                CONTENT = #{content},
                MODDATE = #{moddate}
            WHERE ID = #{id}
    </update>

    <update id="modifyFile"
            parameterType="BoardFileDto">
        UPDATE FREEBOARD_FILE
            SET
                FILENAME = #{filename},
                FILEORIGINNAME = #{fileoriginname},
                FILEPATH = #{filepath},
                FILETYPE = #{filetype}
            WHERE ID = #{id}
              AND BOARD_ID = #{board_id}
    </update>

    <delete id="removeFile"
            parameterType="BoardFileDto">
        DELETE FROM FREEBOARD_FILE
            WHERE ID = #{id}
              AND BOARD_ID = #{board_id}
    </delete>

    <insert id="postFile"
            parameterType="BoardFileDto">
        INSERT INTO FREEBOARD_FILE (
            BOARD_ID,
            FILENAME,
            FILEORIGINNAME,
            FILEPATH,
            FILETYPE
        ) VALUES (
            #{board_id},
            #{filename},
            #{fileoriginname},
            #{filepath},
            #{filetype}
        )
    </insert>

    <update id="updateBoardCnt"
            parameterType="int">
        UPDATE FREEBOARD
            SET
                CNT = CNT + 1
            WHERE ID = #{id}
    </update>

    <delete id="removeFiles"
            parameterType="int">
        DELETE FROM FREEBOARD_FILE
            WHERE BOARD_ID = #{id}
    </delete>

    <delete id="remove"
            parameterType="int">
        DELETE FROM FREEBOARD
            WHERE ID = #{id}
    </delete>

    <select id="findTotalCnt"
            parameterType="map"
            resultType="int">
        SELECT COUNT(*)
            FROM FREEBOARD F
            JOIN MEMBER M
              ON F.WRITER_ID = M.ID
            WHERE 1=1
            <if test="searchKeyword != null and searchKeyword != ''">
                <if test="searchCondition == 'all'">
                    AND (
                        F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR M.NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </if>
                <if test="searchCondition == 'title'">
                    AND F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
                <if test="searchCondition == 'content'">
                    AND F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
                <if test="searchCondition == 'writer'">
                    AND M.NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
            </if>
    </select>


















</mapper>