<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <header th:fragment="header" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button type="button" class="btn btn-outline-light btn-lg text-secondary" onclick="location.href='/'">홈</button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/free-list}">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/boards/notice-list">공지사항</a>
                    </li>
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/member/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/join">회원가입</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <!--tymeleaf에서 인증 객체를 가져오는 문법: #authentication
                                #authentication.principal: CustomUserDetails 객체
                                #authentication.principal.username: 로그인한 사용자의 아이디
                                #authentication.principal.password: 로그인한 사용자의 비밀번호
                                #authentication.principal.member: Member 엔티티 객체
                            -->
                            <a class="nav-link" href="#"
                               th:text="${#authentication.principal.member.nickname}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/logout">로그아웃</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>